# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environment
# ======================
.venv/

# ======================
# Django / Database
# ======================
*.sqlite3
*.log
db.sqlite3
media/
staticfiles/

# ======================
# Docker
# ======================
*.env
docker-compose.override.yml

# ======================
# PDFs / Presentation output
# ======================

# Ignore temporary PDFs from the staging folder
presentation/output_tmp/

# Save stable PDFs from the source folder
!presentation/output/
!presentation/output/*.pdf

# Ignore individual PDFs created in the root or in presentation/
presentation/*.pdf

# ======================
# Presentation assets (images, diagrams, etc.)
# ======================
# Save all files from presentation/assets/
!presentation/assets/
!presentation/assets/**

# ТWe also store images in static/images/
!static/images/
!static/images/**

# ======================
# OS / Editor temporary files
# ======================
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
.vscode/
